#epages-popup-content {
	display: none;
}

#epages-popup-content a {
	text-decoration: none;
}

#epages-popup-content.open {
	display: block;
}

#epages-popup-content .media-modal-content .media-frame-title,
#epages-popup-content .media-modal-content .media-frame-content {
  display: none;
}

#epages-popup-content .media-modal-content[data-active-dialog=product-settings] .media-frame-title.product-settings,
#epages-popup-content .media-modal-content[data-active-dialog=product-settings] .media-frame-content.product-settings,

#epages-popup-content .media-modal-content[data-active-dialog=appearance] .media-frame-title.appearance,
#epages-popup-content .media-modal-content[data-active-dialog=appearance] .media-frame-content.appearance {
	display: inherit;
}

#epages-popup-content .media-toolbar .store-url {
  margin-top: 12px;
  font-weight: bold;
}

#epages-shop-button { float: right; }

.epages-shop-form-failure { background: #c00; color: #fff; padding: 4px 8px 3px; margin-left: 10px; }
.epages-shop-form-success { background: #0c0; color: #fff; padding: 4px 8px 3px; margin-left: 10px; }
