#epages-popup-content {
	display: none;
}

#epages-popup-content a {
	text-decoration: none;
}

#epages-popup-content.open {
	display: block;
}

#epages-popup-content .media-modal-content {
  position: absolute;
  width: 920px;
  height: 520px;
  top: 50%;
  left: 50%;
  right: inherit;
  bottom: inherit;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

#epages-popup-content .media-modal-content .media-frame-title,
#epages-popup-content .media-modal-content .media-frame-content {
  display: none;
}

#epages-popup-content .media-modal-content[data-active-dialog=product-settings] .media-frame-title.product-settings,
#epages-popup-content .media-modal-content[data-active-dialog=product-settings] .media-frame-content.product-settings,

#epages-popup-content .media-modal-content[data-active-dialog=appearance] .media-frame-title.appearance,
#epages-popup-content .media-modal-content[data-active-dialog=appearance] .media-frame-content.appearance {
	display: inherit;
}

#epages-popup-content .media-modal-content .media-frame-content {
  padding: 18px;
}

#epages-popup-content .media-modal-content h2 {
  margin-bottom: 30px;
}

#epages-popup-content .media-modal-content .media-frame-content label {
  display: table;
  margin-top: 10px;
}

#epages-popup-content .media-modal-content .product-settings .epages-categories-spinner {
  visibility: hidden;
  vertical-align: middle;
  margin-top: -2px;
}

#epages-popup-content .media-modal-content .epages-categories-container {
  list-style: none;
  padding-left: 23px;
}

#epages-popup-content .media-toolbar .store-url {
  margin-top: 12px;
  font-weight: bold;
}

#epages-shop-button:before {
  font-family: FontAwesome;
  content: "\f217";
  padding-right: 5px;
}
#epages-shop-button {
  float: right;
}

.epages-verified-shop-text b {
  font-size: 18px;
  line-height: 35px;
  vertical-align: 10px;
  padding-left: 15px;
}

.epages-shop-form-failure { background: #c00; color: #fff; padding: 4px 8px 3px; margin-left: 10px; }
.epages-shop-form-success { background: #0c0; color: #fff; padding: 4px 8px 3px; margin-left: 10px; }



.tooltip{
  display: inline-block;
  margin-left: 5px;
  position: relative;
  vertical-align: text-top;
  cursor: pointer;
}

.tooltip:hover:after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-tooltip);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

#adminmenu #toplevel_page_epages_options_page div.wp-menu-image:before {
	font-family: FontAwesome;
	content: "\f07a";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.media-modal-close span.media-modal-icon {
    background-image: none;
    float: right;
    padding-right: 12px;
}

.media-modal-close {
    position: absolute;
    top: 12px;
    }
