td > button:before {
  background: transparent !important;
  color: black;
  content: "\f1f8";
  font-family: FontAwesome !important;
  border: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 22px;
}
.epages-cart-overlay-line-item-quantity {
    margin-right: 5px;
    padding: 3px;
    margin: 0;
    max-width: 40px;
    border: 1px solid #999 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background: #fff;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.no-border {
  border-top-width: 0 !important;
}

.epages-cart-healine {
  display: inline-block;
}

.modal-content.epages-cart-overlay {
  max-height: 80%;
  max-width: 1000px;
  min-width: 200px;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
  margin: 0 0 0 0;
  overflow: auto;
}

.epages-cart-overlay-total {
  2width: 14% !important;
}

.epages-categories-spinner-container {
  display: flex;
  justify-content: center;
}

.epages-categories-spinner {
  visibility: hidden;
}