.epages-shop-widget .epages-shop-navigation label {
  font-size: 12px;
}

.epages-shop-widget .epages-shop-navigation,
.epages-shop-widget .epages-shop-navigation select,
.epages-shop-widget .epages-shop-navigation input {
  font-size: 12px;
}

.epages-shop-widget .epages-shop-navigation .epages-shop-search-form input[type=text] {
  padding: 2px 6px;
  width: 250px;
  margin: 0;
}

.epages-shop-widget .epages-shop-navigation .epages-shop-search-form input[type=submit] {
  padding: 2px 10px;
  margin: 0;
}

.epages-shop-widget .epages-shop-cart {
  margin-bottom: 30px;
}
