/**************************  Search & Filter Form  *************************/
.epages-search-form>input[type="text"],
.epages-shop-sort>input[type="text"],
.epages-shop-navigation select {
  width: 200px;
  border: 1px solid rgba(187, 187, 187, 0.5) !important;
  border-radius: 2px !important;
  font:400 13px "Montserrat",sans-serif !important;
  -webkit-transition: all 0.3s cubic-bezier( 0.5, 0.2, 0.5, 1 ) !important;
  transition: all 0.3s cubic-bezier( 0.5, 0.2, 0.5, 1 )!important;
  height: 3.35em !important;
  margin-bottom: 1.85em !important;
}
select {
  padding-right: 0 !important;
}
/**************************** Product overlay window  ********************************/
.epages-shop-overlay h3 {
  font-size: 120%;
}
/****** Buy & Checkout Button ******/
.epages-shop-overlay-buy-button,
.epages-cart-overlay-checkout-button {
  background-color: #66BB6A;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  margin: 15px auto;
}
.epages-shop-overlay-buy-button:hover,
.epages-cart-overlay-checkout-button:hover {
  background-color: #4CAF50;
}
.epages-shop-overlay-buy-button {
  width: 100%;
}
.epages-shop-overlay-buy-button[disabled=disabled],
.epages-shop-overlay-buy-button:disabled {
  color: #ddd;
}
/**************************** Cart button  ********************************/
.epages-cart-button,
.epages-cart-button:hover,
.epages-cart-button:active,
.epages-cart-button:visited {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  font-size: 36px !important;
  line-height: 1 !important;
  color: inherit !important;
}
.epages-cart-button i {
  vertical-align: middle !important;
  font-size: inherit !important;
}
.epages-cart-button span {
	background-color: #a79d9d !important;
  border-radius: 20px !important;
  color: #fff !important;
  display: inline-block !important;
  font-size: 17px !important;
  height: 33px !important;
  letter-spacing: 0 !important;
  line-height: 1.9 !important;
  margin-left: 10px !important;
  margin-top: 5px !important;
  min-width: 33px !important;
  padding: 0 8px !important;
  text-align: center !important;
  vertical-align: top !important;
 }
/****** Remove from basket button ******/
.epages-cart-overlay-line-item-remove::before {
  color: #575757;
}
/****** Tooltip styles ******/
.epages-cart-overlay-line-table .epages-cart-overlay-remove,
.epages-cart-overlay-line-table .epages-cart-overlay-remove button {
    width: 25px;
    padding: 0;
    position: relative;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove .tooltip {
  position: absolute;
  display: none;
  border: 1px solid #dddddd;
  padding: 5px;
  line-height: 12px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  left: calc(-50% - 3px);
  top: -8px;
  background: white;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove .tooltip:after,
.epages-cart-overlay-line-table .epages-cart-overlay-remove .tooltip:before {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove .tooltip:after {
  border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove .tooltip:before {
  border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 6px;
	margin-left: -6px;
}
.epages-cart-overlay-line-item-remove:hover + .tooltip {
  display: block;
}
.epages-cart-overlay table tbody tr {
    height: 90px;
}
