.epages-shop-placeholder {
  background: #eee;
  border: 1px solid #ddd;
  height: 200px;
  min-width: 420px;
  width: 100% !important;
}

.epages-shop-remove-widget {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  background: #ddd;
  font-size: 175%;
  line-height: 23px;
  margin-left: 10px;
  text-decoration: none;
}

.epages-shop-placeholder:hover .epages-shop-remove-widget {
  display: block;
}

.blue-shop {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
  line-height: 28px;
  padding: 0 12px 2px;
  font-size: 13px;
  font-weight: bold;
  width: 110px;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#epages-shop-remove-button {
  background: transparent;
  border: none;
  font-size: 18px;
}
